@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --fire: 0, 95%, 50%;
    --water: 216, 95%, 50%;
    --earth: 27, 95%, 50%;
    --wind: 127, 95%, 50%;
    --light: 43, 95%, 50%;
    --dark: 316, 95%, 50%;

    --shadow-static: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
 
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .shadow-static {
    box-shadow: var(--shadow-static);
  }
}

:root {
  --easing-a: cubic-bezier(.77, 0, .18, 1);
  --easing-b: cubic-bezier(.19,1,.22,1);
  --easing-c: cubic-bezier(.165, .84, .44, 1);
  --_font-size: 0;
  --_base-font-size: 16;
  --_harmonic-sequence-base: 8;
  --_min-harmonic-sequence-base: 9;
  --_max-harmonic-sequence-base: var(--_harmonic-sequence-base);
  --_half-leading: .3;
  --_font-family: sans-serif;
  --_global--box-shadow: 0 5px 20px -5px rgba(0,0,0,.2);
  --_global--border-radius: 4px;
  --_global--gap: var(--_s2);
  --_global--text-gap: var(--_s1);
  --_global--gutters: max(min(6vw,var(--_rem2)),env(safe-area-inset-right),env(safe-area-inset-left));
  --_ms-2: calc(calc((clamp(1.1, calc((1.1 - (calc(1 + 2 * var(--_half-leading)))) / (var(--_harmonic-sequence-base) - 1)) * var(--_fluid-font-size-magnification, calc(var(--_harmonic-sequence-base) / (var(--_harmonic-sequence-base) - var(--_font-size)))) + calc(calc(1 + 2 * var(--_half-leading)) + -1 * calc((1.1 - (calc(1 + 2 * var(--_half-leading)))) / (var(--_harmonic-sequence-base) - 1))), calc(1 + 2 * var(--_half-leading)))) / 3) * 1);
  --_ms-1: calc(calc((clamp(1.1, calc((1.1 - (calc(1 + 2 * var(--_half-leading)))) / (var(--_harmonic-sequence-base) - 1)) * var(--_fluid-font-size-magnification, calc(var(--_harmonic-sequence-base) / (var(--_harmonic-sequence-base) - var(--_font-size)))) + calc(calc(1 + 2 * var(--_half-leading)) + -1 * calc((1.1 - (calc(1 + 2 * var(--_half-leading)))) / (var(--_harmonic-sequence-base) - 1))), calc(1 + 2 * var(--_half-leading)))) / 3) * 2);
  --_ms0: 0;
  --_ms1: calc(clamp(1.1, calc((1.1 - (calc(1 + 2 * var(--_half-leading)))) / (var(--_harmonic-sequence-base) - 1)) * var(--_fluid-font-size-magnification, calc(var(--_harmonic-sequence-base) / (var(--_harmonic-sequence-base) - var(--_font-size)))) + calc(calc(1 + 2 * var(--_half-leading)) + -1 * calc((1.1 - (calc(1 + 2 * var(--_half-leading)))) / (var(--_harmonic-sequence-base) - 1))), calc(1 + 2 * var(--_half-leading)))*1) ;
  --_ms2: calc(calc((clamp(1.1, calc((1.1 - (calc(1 + 2 * var(--_half-leading)))) / (var(--_harmonic-sequence-base) - 1)) * var(--_fluid-font-size-magnification, calc(var(--_harmonic-sequence-base) / (var(--_harmonic-sequence-base) - var(--_font-size)))) + calc(calc(1 + 2 * var(--_half-leading)) + -1 * calc((1.1 - (calc(1 + 2 * var(--_half-leading)))) / (var(--_harmonic-sequence-base) - 1))), calc(1 + 2 * var(--_half-leading)))) / 3) * 5);
  --_ms3: calc(calc((clamp(1.1, calc((1.1 - (calc(1 + 2 * var(--_half-leading)))) / (var(--_harmonic-sequence-base) - 1)) * var(--_fluid-font-size-magnification, calc(var(--_harmonic-sequence-base) / (var(--_harmonic-sequence-base) - var(--_font-size)))) + calc(calc(1 + 2 * var(--_half-leading)) + -1 * calc((1.1 - (calc(1 + 2 * var(--_half-leading)))) / (var(--_harmonic-sequence-base) - 1))), calc(1 + 2 * var(--_half-leading)))) / 3) * 8);
  --_ms4: calc(calc((clamp(1.1, calc((1.1 - (calc(1 + 2 * var(--_half-leading)))) / (var(--_harmonic-sequence-base) - 1)) * var(--_fluid-font-size-magnification, calc(var(--_harmonic-sequence-base) / (var(--_harmonic-sequence-base) - var(--_font-size)))) + calc(calc(1 + 2 * var(--_half-leading)) + -1 * calc((1.1 - (calc(1 + 2 * var(--_half-leading)))) / (var(--_harmonic-sequence-base) - 1))), calc(1 + 2 * var(--_half-leading)))) / 3) * 13);
  --_ms5: calc(clamp(1.1, calc((1.1 - (calc(1 + 2 * var(--_half-leading)))) / (var(--_harmonic-sequence-base) - 1)) * var(--_fluid-font-size-magnification, calc(var(--_harmonic-sequence-base) / (var(--_harmonic-sequence-base) - var(--_font-size)))) + calc(calc(1 + 2 * var(--_half-leading)) + -1 * calc((1.1 - (calc(1 + 2 * var(--_half-leading)))) / (var(--_harmonic-sequence-base) - 1))), calc(1 + 2 * var(--_half-leading)))*7) ;
  --_ms6: calc(calc((clamp(1.1, calc((1.1 - (calc(1 + 2 * var(--_half-leading)))) / (var(--_harmonic-sequence-base) - 1)) * var(--_fluid-font-size-magnification, calc(var(--_harmonic-sequence-base) / (var(--_harmonic-sequence-base) - var(--_font-size)))) + calc(calc(1 + 2 * var(--_half-leading)) + -1 * calc((1.1 - (calc(1 + 2 * var(--_half-leading)))) / (var(--_harmonic-sequence-base) - 1))), calc(1 + 2 * var(--_half-leading)))) / 3) * 34);
  --_ms7: calc(calc((clamp(1.1, calc((1.1 - (calc(1 + 2 * var(--_half-leading)))) / (var(--_harmonic-sequence-base) - 1)) * var(--_fluid-font-size-magnification, calc(var(--_harmonic-sequence-base) / (var(--_harmonic-sequence-base) - var(--_font-size)))) + calc(calc(1 + 2 * var(--_half-leading)) + -1 * calc((1.1 - (calc(1 + 2 * var(--_half-leading)))) / (var(--_harmonic-sequence-base) - 1))), calc(1 + 2 * var(--_half-leading)))) / 3) * 55);
  --_em-2: calc(1em * var(--_ms-2));
  --_em-1: calc(1em * var(--_ms-1));
  --_em0: 0em;
  --_em1: calc(1em * var(--_ms1));
  --_em2: calc(1em * var(--_ms2));
  --_em3: calc(1em * var(--_ms3));
  --_em4: calc(1em * var(--_ms4));
  --_em5: calc(1em * var(--_ms5));
  --_em6: calc(1em * var(--_ms6));
  --_em7: calc(1em * var(--_ms7));
  --_rem-2: calc(1rem * var(--_ms-2));
  --_rem-1: calc(1rem * var(--_ms-1));
  --_rem0: 0rem;
  --_rem1: calc(1rem * var(--_ms1));
  --_rem2: calc(1rem * var(--_ms2));
  --_rem3: calc(1rem * var(--_ms3));
  --_rem4: calc(1rem * var(--_ms4));
  --_rem5: calc(1rem * var(--_ms5));
  --_rem6: calc(1rem * var(--_ms6));
  --_rem7: calc(1rem * var(--_ms7));
  --_s-2: var(--_em-2);
  --_s-1: var(--_em-1);
  --_s0: var(--_em0);
  --_s1: var(--_em1);
  --_s2: clamp(calc(var(--_ms1) + var(--_ms2) * .28125) * 1em,calc(calc(-22.5 * calc((var(--_ms2) - calc(var(--_ms1) + var(--_ms2) * .28125)) / (57.5)) + calc(var(--_ms1) + var(--_ms2) * .28125)) * 1em + calc((var(--_ms2) - calc(var(--_ms1) + var(--_ms2) * .28125)) / (57.5)) * 100vw),var(--_ms2) * 1em);
  --_s3: clamp(calc(var(--_ms1) + var(--_ms3) * .28125) * 1em,calc(calc(-22.5 * calc((var(--_ms3) - calc(var(--_ms1) + var(--_ms3) * .28125)) / (57.5)) + calc(var(--_ms1) + var(--_ms3) * .28125)) * 1em + calc((var(--_ms3) - calc(var(--_ms1) + var(--_ms3) * .28125)) / (57.5)) * 100vw),var(--_ms3) * 1em);
  --_s4: clamp(calc(var(--_ms1) + var(--_ms4) * .28125) * 1em,calc(calc(-22.5 * calc((var(--_ms4) - calc(var(--_ms1) + var(--_ms4) * .28125)) / (57.5)) + calc(var(--_ms1) + var(--_ms4) * .28125)) * 1em + calc((var(--_ms4) - calc(var(--_ms1) + var(--_ms4) * .28125)) / (57.5)) * 100vw),var(--_ms4) * 1em);
  --_s5: clamp(calc(var(--_ms1) + var(--_ms5) * .28125) * 1em,calc(calc(-22.5 * calc((var(--_ms5) - calc(var(--_ms1) + var(--_ms5) * .28125)) / (57.5)) + calc(var(--_ms1) + var(--_ms5) * .28125)) * 1em + calc((var(--_ms5) - calc(var(--_ms1) + var(--_ms5) * .28125)) / (57.5)) * 100vw),var(--_ms5) * 1em);
  --_s6: clamp(calc(var(--_ms1) + var(--_ms6) * .28125) * 1em,calc(calc(-22.5 * calc((var(--_ms6) - calc(var(--_ms1) + var(--_ms6) * .28125)) / (57.5)) + calc(var(--_ms1) + var(--_ms6) * .28125)) * 1em + calc((var(--_ms6) - calc(var(--_ms1) + var(--_ms6) * .28125)) / (57.5)) * 100vw),var(--_ms6) * 1em);
  --_s7: clamp(calc(var(--_ms1) + var(--_ms7) * .28125) * 1em,calc(calc(-22.5 * calc((var(--_ms7) - calc(var(--_ms1) + var(--_ms7) * .28125)) / (57.5)) + calc(var(--_ms1) + var(--_ms7) * .28125)) * 1em + calc((var(--_ms7) - calc(var(--_ms1) + var(--_ms7) * .28125)) / (57.5)) * 100vw),var(--_ms7) * 1em);
  --_p-2: var(--_em-2);
  --_p-1: var(--_em-1);
  --_p0: var(--_em0);
  --_p1: var(--_em1);
  --_p2: clamp(calc(var(--_ms1) + var(--_ms2) * .28125 * .2) * 1em,calc(calc(-22.5 * calc((var(--_ms2) - calc(var(--_ms1) + var(--_ms2) * .28125 * .2)) / (57.5)) + calc(var(--_ms1) + var(--_ms2) * .28125 * .2)) * 1em + calc((var(--_ms2) - calc(var(--_ms1) + var(--_ms2) * .28125 * .2)) / (57.5)) * 100vw),var(--_ms2) * 1em);
  --_p3: clamp(calc(var(--_ms1) + var(--_ms3) * .28125 * .2) * 1em,calc(calc(-22.5 * calc((var(--_ms3) - calc(var(--_ms1) + var(--_ms3) * .28125 * .2)) / (57.5)) + calc(var(--_ms1) + var(--_ms3) * .28125 * .2)) * 1em + calc((var(--_ms3) - calc(var(--_ms1) + var(--_ms3) * .28125 * .2)) / (57.5)) * 100vw),var(--_ms3) * 1em);
  --_p4: clamp(calc(var(--_ms1) + var(--_ms4) * .28125 * .2) * 1em,calc(calc(-22.5 * calc((var(--_ms4) - calc(var(--_ms1) + var(--_ms4) * .28125 * .2)) / (57.5)) + calc(var(--_ms1) + var(--_ms4) * .28125 * .2)) * 1em + calc((var(--_ms4) - calc(var(--_ms1) + var(--_ms4) * .28125 * .2)) / (57.5)) * 100vw),var(--_ms4) * 1em);
  --_p5: clamp(calc(var(--_ms1) + var(--_ms5) * .28125 * .2) * 1em,calc(calc(-22.5 * calc((var(--_ms5) - calc(var(--_ms1) + var(--_ms5) * .28125 * .2)) / (57.5)) + calc(var(--_ms1) + var(--_ms5) * .28125 * .2)) * 1em + calc((var(--_ms5) - calc(var(--_ms1) + var(--_ms5) * .28125 * .2)) / (57.5)) * 100vw),var(--_ms5) * 1em);
  --_p6: clamp(calc(var(--_ms1) + var(--_ms6) * .28125 * .2) * 1em,calc(calc(-22.5 * calc((var(--_ms6) - calc(var(--_ms1) + var(--_ms6) * .28125 * .2)) / (57.5)) + calc(var(--_ms1) + var(--_ms6) * .28125 * .2)) * 1em + calc((var(--_ms6) - calc(var(--_ms1) + var(--_ms6) * .28125 * .2)) / (57.5)) * 100vw),var(--_ms6) * 1em);
  --_p7: clamp(calc(var(--_ms1) + var(--_ms7) * .28125 * .2) * 1em,calc(calc(-22.5 * calc((var(--_ms7) - calc(var(--_ms1) + var(--_ms7) * .28125 * .2)) / (57.5)) + calc(var(--_ms1) + var(--_ms7) * .28125 * .2)) * 1em + calc((var(--_ms7) - calc(var(--_ms1) + var(--_ms7) * .28125 * .2)) / (57.5)) * 100vw),var(--_ms7) * 1em);
  --_container-max-width: 1280px;
  --_grid-columns: 12;
  --_grid-rows: 7;
  --_grid-gap: var(--_global--gap);
  --_pg-base: calc((100% - var(--_grid-gap) * (var(--_grid-columns) - 1)) / var(--_grid-columns));
  --_pg0: 0%;
  --_pg1: calc(var(--_pg-base) * 1 + var(--_grid-gap) * 0);
  --_pg2: calc(var(--_pg-base) * 2 + var(--_grid-gap) * 1);
  --_pg3: calc(var(--_pg-base) * 3 + var(--_grid-gap) * 2);
  --_pg4: calc(var(--_pg-base) * 4 + var(--_grid-gap) * 3);
  --_pg5: calc(var(--_pg-base) * 5 + var(--_grid-gap) * 4);
  --_pg6: calc(var(--_pg-base) * 6 + var(--_grid-gap) * 5);
  --_pg7: calc(var(--_pg-base) * 7 + var(--_grid-gap) * 6);
  --_pg8: calc(var(--_pg-base) * 8 + var(--_grid-gap) * 7);
  --_pg9: calc(var(--_pg-base) * 9 + var(--_grid-gap) * 8);
  --_pg10: calc(var(--_pg-base) * 10 + var(--_grid-gap) * 9);
  --_pg11: calc(var(--_pg-base) * 11 + var(--_grid-gap) * 10);
  --_pg12: calc(var(--_pg-base) * 12 + var(--_grid-gap) * 11);
  --_cg-base: calc((var(--_container-max-width) - var(--_grid-gap) * (var(--_grid-columns) - 1)) / var(--_grid-columns));
  --_cg0: 0%;
  --_cg1: calc(var(--_cg-base) * 1 + var(--_grid-gap) * 0);
  --_cg2: calc(var(--_cg-base) * 2 + var(--_grid-gap) * 1);
  --_cg3: calc(var(--_cg-base) * 3 + var(--_grid-gap) * 2);
  --_cg4: calc(var(--_cg-base) * 4 + var(--_grid-gap) * 3);
  --_cg5: calc(var(--_cg-base) * 5 + var(--_grid-gap) * 4);
  --_cg6: calc(var(--_cg-base) * 6 + var(--_grid-gap) * 5);
  --_cg7: calc(var(--_cg-base) * 7 + var(--_grid-gap) * 6);
  --_cg8: calc(var(--_cg-base) * 8 + var(--_grid-gap) * 7);
  --_cg9: calc(var(--_cg-base) * 9 + var(--_grid-gap) * 8);
  --_cg10: calc(var(--_cg-base) * 10 + var(--_grid-gap) * 9);
  --_cg11: calc(var(--_cg-base) * 11 + var(--_grid-gap) * 10);
  --_cg12: calc(var(--_cg-base) * 12 + var(--_grid-gap) * 11);
  --_gutters: max(min(6vw,var(--_rem2)),env(safe-area-inset-right),env(safe-area-inset-left))
}

* {
  --_font-size: calc(var(--_harmonic-sequence-base)/(var(--_harmonic-sequence-base) - var(--_font-size-level))*1rem);
  --_line-height: clamp(1.1,calc(var(--_line-height-slope)*var(--_harmonic-sequence-base)/(var(--_harmonic-sequence-base) - var(--_font-size-level)) + 1 + var(--_half-leading)*2 + var(--_line-height-slope)*-1),calc(var(--_half-leading)*2 + 1));
  --_fluid-font-size: clamp(1rem * calc(var(--_min-harmonic-sequence-base)/(var(--_min-harmonic-sequence-base) - var(--_font-size-level))),calc((var(--_max-harmonic-sequence-base)/(var(--_max-harmonic-sequence-base) - var(--_font-size-level))/57.5*-22.5 - var(--_min-harmonic-sequence-base)/(var(--_min-harmonic-sequence-base) - var(--_font-size-level))/57.5*-22.5 + var(--_min-harmonic-sequence-base)/(var(--_min-harmonic-sequence-base) - var(--_font-size-level)))*1rem + (var(--_max-harmonic-sequence-base)/(var(--_max-harmonic-sequence-base) - var(--_font-size-level))/57.5 - var(--_min-harmonic-sequence-base)/(var(--_min-harmonic-sequence-base) - var(--_font-size-level))/57.5)*100vw),1rem * calc(var(--_max-harmonic-sequence-base)/(var(--_max-harmonic-sequence-base) - var(--_font-size-level))));
  box-sizing: border-box
}

html {
  font-size: calc(var(--_base-font-size) * 1px)
}

.has-xs-font-size {
    --font-size: -2!important;
    --preset--font-size--xs: calc(var(--_harmonic-sequence-base) / (var(--_harmonic-sequence-base) - var(--font-size)) * 1rem);
    font-size: var(--preset--font-size--xs)!important
}
.has-xs-font-size[data-layout~=-fluid-typography] {
    --preset--font-size--xs: clamp(1rem * calc(var(--_harmonic-sequence-base) / (var(--_min-harmonic-sequence-base) - var(--font-size))),calc(calc(-22.5 * calc((calc(var(--_harmonic-sequence-base) / (var(--_max-harmonic-sequence-base) - var(--font-size))) - calc(var(--_harmonic-sequence-base) / (var(--_min-harmonic-sequence-base) - var(--font-size)))) / (57.5)) + calc(var(--_harmonic-sequence-base) / (var(--_min-harmonic-sequence-base) - var(--font-size)))) * 1rem + calc((calc(var(--_harmonic-sequence-base) / (var(--_max-harmonic-sequence-base) - var(--font-size))) - calc(var(--_harmonic-sequence-base) / (var(--_min-harmonic-sequence-base) - var(--font-size)))) / (57.5)) * 100vw),1rem * calc(var(--_harmonic-sequence-base) / (var(--_max-harmonic-sequence-base) - var(--font-size))))!important
}
.has-s-font-size {
    --font-size: -1!important;
    --preset--font-size--s: calc(var(--_harmonic-sequence-base) / (var(--_harmonic-sequence-base) - var(--font-size)) * 1rem);
    font-size: var(--preset--font-size--s)!important
}
.has-s-font-size[data-layout~=-fluid-typography] {
    --preset--font-size--s: clamp(1rem * calc(var(--_harmonic-sequence-base) / (var(--_min-harmonic-sequence-base) - var(--font-size))),calc(calc(-22.5 * calc((calc(var(--_harmonic-sequence-base) / (var(--_max-harmonic-sequence-base) - var(--font-size))) - calc(var(--_harmonic-sequence-base) / (var(--_min-harmonic-sequence-base) - var(--font-size)))) / (57.5)) + calc(var(--_harmonic-sequence-base) / (var(--_min-harmonic-sequence-base) - var(--font-size)))) * 1rem + calc((calc(var(--_harmonic-sequence-base) / (var(--_max-harmonic-sequence-base) - var(--font-size))) - calc(var(--_harmonic-sequence-base) / (var(--_min-harmonic-sequence-base) - var(--font-size)))) / (57.5)) * 100vw),1rem * calc(var(--_harmonic-sequence-base) / (var(--_max-harmonic-sequence-base) - var(--font-size))))!important
}
.has-m-font-size {
    --font-size: 0!important;
    --preset--font-size--m: calc(var(--_harmonic-sequence-base) / (var(--_harmonic-sequence-base) - var(--font-size)) * 1rem);
    font-size: var(--preset--font-size--m)!important
}
.has-m-font-size[data-layout~=-fluid-typography] {
    --preset--font-size--m: clamp(1rem * calc(var(--_harmonic-sequence-base) / (var(--_min-harmonic-sequence-base) - var(--font-size))),calc(calc(-22.5 * calc((calc(var(--_harmonic-sequence-base) / (var(--_max-harmonic-sequence-base) - var(--font-size))) - calc(var(--_harmonic-sequence-base) / (var(--_min-harmonic-sequence-base) - var(--font-size)))) / (57.5)) + calc(var(--_harmonic-sequence-base) / (var(--_min-harmonic-sequence-base) - var(--font-size)))) * 1rem + calc((calc(var(--_harmonic-sequence-base) / (var(--_max-harmonic-sequence-base) - var(--font-size))) - calc(var(--_harmonic-sequence-base) / (var(--_min-harmonic-sequence-base) - var(--font-size)))) / (57.5)) * 100vw),1rem * calc(var(--_harmonic-sequence-base) / (var(--_max-harmonic-sequence-base) - var(--font-size))))!important
}
.has-l-font-size {
    --font-size: 1!important;
    --preset--font-size--l: calc(var(--_harmonic-sequence-base) / (var(--_harmonic-sequence-base) - var(--font-size)) * 1rem);
    font-size: var(--preset--font-size--l)!important
}
.has-l-font-size[data-layout~=-fluid-typography] {
    --preset--font-size--l: clamp(1rem * calc(var(--_harmonic-sequence-base) / (var(--_min-harmonic-sequence-base) - var(--font-size))),calc(calc(-22.5 * calc((calc(var(--_harmonic-sequence-base) / (var(--_max-harmonic-sequence-base) - var(--font-size))) - calc(var(--_harmonic-sequence-base) / (var(--_min-harmonic-sequence-base) - var(--font-size)))) / (57.5)) + calc(var(--_harmonic-sequence-base) / (var(--_min-harmonic-sequence-base) - var(--font-size)))) * 1rem + calc((calc(var(--_harmonic-sequence-base) / (var(--_max-harmonic-sequence-base) - var(--font-size))) - calc(var(--_harmonic-sequence-base) / (var(--_min-harmonic-sequence-base) - var(--font-size)))) / (57.5)) * 100vw),1rem * calc(var(--_harmonic-sequence-base) / (var(--_max-harmonic-sequence-base) - var(--font-size))))!important
}
.has-xl-font-size {
    --font-size: 2!important;
    --preset--font-size--xl: calc(var(--_harmonic-sequence-base) / (var(--_harmonic-sequence-base) - var(--font-size)) * 1rem);
    font-size: var(--preset--font-size--xl)!important
}
.has-xl-font-size[data-layout~=-fluid-typography] {
    --preset--font-size--xl: clamp(1rem * calc(var(--_harmonic-sequence-base) / (var(--_min-harmonic-sequence-base) - var(--font-size))),calc(calc(-22.5 * calc((calc(var(--_harmonic-sequence-base) / (var(--_max-harmonic-sequence-base) - var(--font-size))) - calc(var(--_harmonic-sequence-base) / (var(--_min-harmonic-sequence-base) - var(--font-size)))) / (57.5)) + calc(var(--_harmonic-sequence-base) / (var(--_min-harmonic-sequence-base) - var(--font-size)))) * 1rem + calc((calc(var(--_harmonic-sequence-base) / (var(--_max-harmonic-sequence-base) - var(--font-size))) - calc(var(--_harmonic-sequence-base) / (var(--_min-harmonic-sequence-base) - var(--font-size)))) / (57.5)) * 100vw),1rem * calc(var(--_harmonic-sequence-base) / (var(--_max-harmonic-sequence-base) - var(--font-size))))!important
}
.has-2-xl-font-size {
    --font-size: 3!important;
    --preset--font-size--2-xl: calc(var(--_harmonic-sequence-base) / (var(--_harmonic-sequence-base) - var(--font-size)) * 1rem);
    font-size: var(--preset--font-size--2-xl)!important
}
.has-2-xl-font-size[data-layout~=-fluid-typography] {
    --preset--font-size--2-xl: clamp(1rem * calc(var(--_harmonic-sequence-base) / (var(--_min-harmonic-sequence-base) - var(--font-size))),calc(calc(-22.5 * calc((calc(var(--_harmonic-sequence-base) / (var(--_max-harmonic-sequence-base) - var(--font-size))) - calc(var(--_harmonic-sequence-base) / (var(--_min-harmonic-sequence-base) - var(--font-size)))) / (57.5)) + calc(var(--_harmonic-sequence-base) / (var(--_min-harmonic-sequence-base) - var(--font-size)))) * 1rem + calc((calc(var(--_harmonic-sequence-base) / (var(--_max-harmonic-sequence-base) - var(--font-size))) - calc(var(--_harmonic-sequence-base) / (var(--_min-harmonic-sequence-base) - var(--font-size)))) / (57.5)) * 100vw),1rem * calc(var(--_harmonic-sequence-base) / (var(--_max-harmonic-sequence-base) - var(--font-size))))!important
}
.has-3-xl-font-size {
    --font-size: 4!important;
    --preset--font-size--3-xl: calc(var(--_harmonic-sequence-base) / (var(--_harmonic-sequence-base) - var(--font-size)) * 1rem);
    font-size: var(--preset--font-size--3-xl)!important
}
.has-3-xl-font-size[data-layout~=-fluid-typography] {
    --preset--font-size--3-xl: clamp(1rem * calc(var(--_harmonic-sequence-base) / (var(--_min-harmonic-sequence-base) - var(--font-size))),calc(calc(-22.5 * calc((calc(var(--_harmonic-sequence-base) / (var(--_max-harmonic-sequence-base) - var(--font-size))) - calc(var(--_harmonic-sequence-base) / (var(--_min-harmonic-sequence-base) - var(--font-size)))) / (57.5)) + calc(var(--_harmonic-sequence-base) / (var(--_min-harmonic-sequence-base) - var(--font-size)))) * 1rem + calc((calc(var(--_harmonic-sequence-base) / (var(--_max-harmonic-sequence-base) - var(--font-size))) - calc(var(--_harmonic-sequence-base) / (var(--_min-harmonic-sequence-base) - var(--font-size)))) / (57.5)) * 100vw),1rem * calc(var(--_harmonic-sequence-base) / (var(--_max-harmonic-sequence-base) - var(--font-size))))!important
}
.has-4-xl-font-size {
    --font-size: 5!important;
    --preset--font-size--4-xl: calc(var(--_harmonic-sequence-base) / (var(--_harmonic-sequence-base) - var(--font-size)) * 1rem);
    font-size: var(--preset--font-size--4-xl)!important
}
.has-4-xl-font-size[data-layout~=-fluid-typography] {
    --preset--font-size--4-xl: clamp(1rem * calc(var(--_harmonic-sequence-base) / (var(--_min-harmonic-sequence-base) - var(--font-size))),calc(calc(-22.5 * calc((calc(var(--_harmonic-sequence-base) / (var(--_max-harmonic-sequence-base) - var(--font-size))) - calc(var(--_harmonic-sequence-base) / (var(--_min-harmonic-sequence-base) - var(--font-size)))) / (57.5)) + calc(var(--_harmonic-sequence-base) / (var(--_min-harmonic-sequence-base) - var(--font-size)))) * 1rem + calc((calc(var(--_harmonic-sequence-base) / (var(--_max-harmonic-sequence-base) - var(--font-size))) - calc(var(--_harmonic-sequence-base) / (var(--_min-harmonic-sequence-base) - var(--font-size)))) / (57.5)) * 100vw),1rem * calc(var(--_harmonic-sequence-base) / (var(--_max-harmonic-sequence-base) - var(--font-size))))!important
}
.has-5-xl-font-size {
    --font-size: 6!important;
    --preset--font-size--5-xl: calc(var(--_harmonic-sequence-base) / (var(--_harmonic-sequence-base) - var(--font-size)) * 1rem);
    font-size: var(--preset--font-size--5-xl)!important
}
.has-5-xl-font-size[data-layout~=-fluid-typography] {
    --preset--font-size--5-xl: clamp(1rem * calc(var(--_harmonic-sequence-base) / (var(--_min-harmonic-sequence-base) - var(--font-size))),calc(calc(-22.5 * calc((calc(var(--_harmonic-sequence-base) / (var(--_max-harmonic-sequence-base) - var(--font-size))) - calc(var(--_harmonic-sequence-base) / (var(--_min-harmonic-sequence-base) - var(--font-size)))) / (57.5)) + calc(var(--_harmonic-sequence-base) / (var(--_min-harmonic-sequence-base) - var(--font-size)))) * 1rem + calc((calc(var(--_harmonic-sequence-base) / (var(--_max-harmonic-sequence-base) - var(--font-size))) - calc(var(--_harmonic-sequence-base) / (var(--_min-harmonic-sequence-base) - var(--font-size)))) / (57.5)) * 100vw),1rem * calc(var(--_harmonic-sequence-base) / (var(--_max-harmonic-sequence-base) - var(--font-size))))!important
}
.has-6-xl-font-size {
    --font-size: 7!important;
    --preset--font-size--6-xl: calc(var(--_harmonic-sequence-base) / (var(--_harmonic-sequence-base) - var(--font-size)) * 1rem);
    font-size: var(--preset--font-size--6-xl)!important
}
.has-6-xl-font-size[data-layout~=-fluid-typography] {
    --preset--font-size--6-xl: clamp(1rem * calc(var(--_harmonic-sequence-base) / (var(--_min-harmonic-sequence-base) - var(--font-size))),calc(calc(-22.5 * calc((calc(var(--_harmonic-sequence-base) / (var(--_max-harmonic-sequence-base) - var(--font-size))) - calc(var(--_harmonic-sequence-base) / (var(--_min-harmonic-sequence-base) - var(--font-size)))) / (57.5)) + calc(var(--_harmonic-sequence-base) / (var(--_min-harmonic-sequence-base) - var(--font-size)))) * 1rem + calc((calc(var(--_harmonic-sequence-base) / (var(--_max-harmonic-sequence-base) - var(--font-size))) - calc(var(--_harmonic-sequence-base) / (var(--_min-harmonic-sequence-base) - var(--font-size)))) / (57.5)) * 100vw),1rem * calc(var(--_harmonic-sequence-base) / (var(--_max-harmonic-sequence-base) - var(--font-size))))!important
}

.c-container {
    max-width: var(--_container-max-width);
    width: 100%;
    margin-left: auto!important;
    margin-right: auto!important;
    padding-left: var(--_gutters);
    padding-right: var(--_gutters);
    padding-top: var(--_p3);
    padding-bottom: var(--_p3)
}
@media screen and (max-width: 639px) {
    .c-container {
        padding-top:var(--_p2);
        padding-bottom: var(--_p2)
    }
}
.c-container>:not(:first-child) {
    margin-top: var(--_p2)
}
.header-container {
  width: 100%;
  padding-left: var(--_gutters);
  padding-right: var(--_gutters);
  padding-top: var(--_p-1);
  padding-bottom: var(--_p-1)
}
@media screen and (max-width: 639px) {
  .header-container {
        padding-top:var(--_p-2);
        padding-bottom: var(--_p-2)
    }
}